@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    @apply w-full
}

.header .top-wrapper {
    @apply bg-gray-900 text-white font-bold text-lg flex justify-around p-4 w-full mx-auto text-center
}

.header .mid-wrapper {
    @apply w-full flex justify-center py-8
}

.navigation {
    @apply w-full bg-blue-950 text-white p-8 flex justify-around
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

a {
    @apply  text-blue-500 
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2rem !important;
}

h3 {
    font-size: 1.7rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

p {
    font-size: 18px !important;
}

.right {
    float: right;
}

.bg-greeno {
    @apply bg-green-900 text-white
}
.bg-darkblue {
    @apply bg-blue-700 text-white
}
.bg-white {
    @apply bg-[#ffffff] text-black
}
.bg-gray {
    @apply bg-[#d4d4d4] text-black
}

input, textarea {
    @apply w-full border rounded-2xl p-4 text-[1.1vw]
}

p {
    @apply my-3
}

table td {
    @apply p-3 border-black
}