{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
    <div class="container my-12">
        {% for block in page.body %}

            {% if block.block_type == "heading" %}
                <h1 class="text-[3vw] font-black">{{ block.value }}</h1>
            {% endif %}
            {% if block.block_type == "subheading" %}
                <h2 class="text-[2.1vw] font-bold text-gray-800">{{ block.value }}</h2>
            {% endif %}
            {% if block.block_type == "paragraph" %}
                <p class="text-[1.1vw]">
                    {{ block.value }}
                </p>
            {% endif %}
            {% if block.block_type == 'table' %}
                {% include_block block %}
            {% endif %}
            {% if block.block_type == "highlight_box" %}
            <div class="w-full p-6 bg-{{block.value.bg_color}}">
                <h1>{{ block.value.heading }}</h1>
                <h3>{{ block.value.subheading }}</h3>
                <p>{{ block.value.text }}</p>
                <a href="{{ block.value.button.link }}">{{ block.value.button.text }}</a>
            </div>
        {% endif %}
        {% if block.block_type == "button" %}
            <a href="{{ block.value.link }}" class="text-[1.1vw] bg-{{block.value.bg_color}} p-4 rounded-lg w-max block">{{ block.value.text }}</a>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}